/* Common CSS: BEGIN */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: #1F1D2A;
}

body {
  margin: 0;
  background-color: #F0E8E2;
}

section {
  margin-bottom: 100px;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1F1D2A;
}

.btn {
  padding: 10px 28px;
  border: 1px solid #1F1D2A;
  border-radius: 6px;
}

.padding-left-right-120 {
  padding-left: 120px;
  padding-right: 120px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  width: 100%;
  display: flex;
  margin: 40px auto 100px;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  font-size: 32px;
}
header nav ul {
  display: flex;
}

header li a {
  padding: 10px 20px;
  margin: 5px;
}

.banner {
  min-height: 300px;
  display: flex;
}

.content {
  width: 50%;
  padding-right: 60px;
  h1 {
    font-size: 55px;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 50px;
    color: #9B948E;
  }
  .btn-banner {
    background-color: #96C67F;
    padding: 20px 22px;
  }
}

.slides{
  width: 50%;
  img {
    aspect-ratio: 1 / 1;
    max-width: 500px;
    border-radius: 50%;
  }
}

.global-group {
  width: 100%;
  max-width: 764px;
  margin: 0 auto;
  span{
    display: block;
   text-align: center;
    margin-bottom: 30px;
   
  }
}
 

.global-images {
  display: flex;
  justify-content: space-between;
 img{
  height: 30px;
 }
}

.text-carreer {
  width: 100%;
  height: 85px;
  max-width: 286px;
  margin: 0 auto;
  p{
    font-size: 18px;
    color: #1F1D2A;
    line-height: 27px;
    text-align: center;
  }
  h5{
    font-size: 32px;
    line-height: 48px;
    color: black;
    margin: 0px;
    text-align: center;
    
  }
}
.people-carreer {
  display: flex;
  justify-content: center;
  margin-top: 68px;
  height: 450px;
  width: 100%;
  gap: 48px;
div{
  background-color: white;
  img{
    border-radius: 20px;
  }
}
  span{
    display: block;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: black;
    
  }
  p{
    font-size: 16px;
    color: #9B948E;
    
  }
}




